{% extends 'main/base.html' %}

{% block title %}
Каталог
{% endblock %}

{% block content %}
</div class= 'cards'>
     <div class='container'>
         <div class='cards-holder'>
             <div class='card'>

           <div class='card-image'>

           </div>

           <div class='card-title'>
               <a class="me-3 py-2 text-dark text-decoration-none" href="#">Инструменты</a>
           </div>


             </div>
        <div class='card'>

            <div class='card-image'>
                <img class='card-img'  src='card.jpg'>
            </div>

           <div class='card-title'>
               <a class="me-3 py-2 text-dark text-decoration-none" href="#">Одежда</a>
           </div>


        </div>
        <div class='card'>

           <div class='card-image'>
               <img class='card-img'  src='card.jpg'>
           </div>

           <div class='card-title'>
               <a class="me-3 py-2 text-dark text-decoration-none" href="#">Спорт</a>
           </div>
              </div>
        <div class='card'>

           <div class='card-image'>
               <img class='card-img'  src='card.jpg'>
           </div>

           <div class='card-title'>
               <a class="me-3 py-2 text-dark text-decoration-none" href="#">Для детей</a>
           </div>



              </div>
        <div class='card'>

           <div class='card-image'>
               <img class='card-img'  src='card.jpg'>
           </div>

           <div class='card-title'>
               <a class="me-3 py-2 text-dark text-decoration-none" href="#">Для дома</a>
           </div>
        </div>

             <div class='card'>

           <div class='card-image'>
               <img class='card-img'  src='card.jpg'>
           </div>

           <div class='card-title'>
               <a class="me-3 py-2 text-dark text-decoration-none" href="#">Инвентарь</a>
           </div>


             </div>


       </div>


     </div>

</div>
{% endblock %}